@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
}
.nav nav{
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.nav .item{
    position: relative;
    display: inline-block;
    height: 30px;
    padding: 8px 8px 8px;
    margin: 27px 25px 15px;
    background: #FAFAFA;
    transition: .3s ease-in-out;
    list-style: none;
    text-decoration: none;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 15px;
}
.nav .item:hover{
    transform: translateY(-8px);
    padding: 11px 8px 8px;
}

.nav .item_button{
    height: 30px;
    position: relative;
    display: inline-block;
    padding: 7px 7px 7px;
    margin: 27px 25px 155px;
    background: transparent;
    list-style: none;
    text-decoration: none;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 3px solid black;
    border-radius: 15px;
}
.nav img{
    display: none;
}
@media (min-width:1350px){
    .nav img{
        display:flex;
        justify-content: center;
        width: 180px;
        height: 180px;
    }
}
@media (max-width:1150px){
    .nav .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .intro h1{
        line-height: 1;
    }
    .box{
        padding: 0;
        flex-direction: row;
    }
    .box .information-bar h1{

        font-size: 15px;
    }
    .box .information-bar{
        flex-direction: column;
    }
    .box .information-text {
        padding: 0;
        margin: 0;
        display: block;
        width: 15%;
    }
    .box .information-text h4{

        font-size: 1rem;
    }
    .contact-container .text-wrapper h2{
        font-size: 1.2rem;
    }
    .contact-container span{
        font-size: 1.2rem;
    }
    .contact-container .email-wrapper h2{
        font-size: 1.2rem;
    }

}
.nav .link-text{
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    z-index: 2;
    color: black;
    transition: .3s ease-in-out;
}
.nav nav li.btn a{
    position: relative;
    display: inline-block;
    height: 35px;
    padding-top: 35px;
    margin: 0px 25px 30px;
    background: transparent;
    transition: .3s ease-in-out;
    list-style: none;
    text-decoration: none;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 3px solid black;

}

.intro{
    line-height: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    background: #f0faeb;
}
.intro h7{
    font-size: 1.6rem;
    color: darkgray;
}
.box{
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.box .information-bar{
    padding: 80px;
    display: flex; gap: 8rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.box .information-text{
    width: 25%;
}
.box h1{
    font-size: 3rem;
}
.box h4{
    font-size: 1.3rem;
}
.information-text h4{
    font-family: 'Calibri Light';
    font-weight: Lighter;
}

.services-intro{
    border-radius: 15px;
    line-height: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #f0faeb;
}
.services-intro h2{
    font-family: 'Calibri Light';
    font-weight: Lighter;
}
.Connect_us-bar{
    border-radius: 15px;

    color:white;
    line-height: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    background: #1f3438;
}
.Connect_us-bar h1{
    font-size: 3rem;
    margin-top: 55px;
}

.application-button{
    line-height: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:50px;
}
.application-button{
    font-size: 1.6rem;
    position: relative;
    color: black;
    display: inline-block;
    padding: 15px 15px 15px;
    margin: 27px 25px 155px;
    background: white;
    list-style: none;
    text-decoration: none;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 3px solid honeydew;
    border-radius: 7px;
}
.advantages-intro{
    border-radius: 15px;

    color:black;
    line-height: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    background: #f0faeb;
}
.contact-intro{
    line-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:50px;
}
.contact-container{

    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:50px;
}
.contact-container h3{
    font-family: 'Calibri Light';
    font-weight: Lighter;
    font-size:1.4rem;
}

.contact-container h2{
    font-family: 'Calibri Light';
    font-weight: Lighter;
    font-size:2.4rem;
}
.contact-container .text-wrapper{
    width: 50%;
    margin-right: 75px;
}
.contact-container h6{
    font-size:1.6rem;
    color:orange;
}
.footer-container{
    border-radius: 15px;

    position: relative;
    border:none;
    padding: 0;
    margin:0;
    background-size: cover;
    padding-left: 55px;
    background: #1f3438;
}
.footer-container p{
    color:white;
}




